/* Break points */
/* Pc */
@media (min-width: 1024px){

}

/* Tablets */
@media (min-width: 740px) and (max-width: 1023px){

}



/* Mobile */
@media (max-width: 740px) {
    #nav > li{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
}