/* Break points */
/* Pc */
@media (min-width: 1024px){

}

/* Tablets */
@media (min-width: 740px) and (max-width: 1023px){

}



/* Mobile */
    @media (max-width: 740px) {
        .s-full-width,
        .s-col-full{
            width: 100% !important;
        }
        .s-mt-8{
            margin-top: 8px !important;
        }

        #header{
            overflow: hidden;
        }
        #header .search-btn{
            display: none;
        }
        #header .mobile-menu-btn{
        display: block;  
        }

        #nav{
            display: block ;
        }

        #nav li a {
            padding: 1px 24px;
        }
        #nav > li{
            display: block;
        }

        #nav :first-child{
            display: inline-block;
        }

        #nav .subnav{
            position: initial;
        /* mặc định */
            background-color: #333;
        }
        
        #nav .subnav a{
            color: #fff;
            padding: 5px 41px;
        }

        #nav .subnav a,
        #nav .subnav,
        #nav .subnav  a li {
            display: block;
        width: 100%;
        }

        #content .member-img{
            width: 60%;
        }
    }

        
