/* Reset Css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1.Từ trên xuống dưới
2.Từ ngoài vào trong
3.Tổng quan đến chi tiết
*/
/* 
1. Vị trí của nó
2. kích thước của nó (with, height)
3.Màu sắc
4.Kiểu dáng (kiểu chữ ,hình tròn ,vuông,...)
*/
.clear{
    clear: both;
}
.text-white{
    color: white !important;
}
#header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 46px;   
    background-color: #000;
    z-index: 1;
    /* thuộc tính fixed bị chìm xuống nên dùng thuộc tính nay tăng từ 1 bao h đc thì thôi */
    overflow: hidden;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}


#header .search-btn:hover{
    background-color: #F44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover{
    background-color:#ccc
}

#header .mobile-menu-btn:hover .menu-icon{
    background-color:#ccc;
    color : #000;
}


#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


#nav,.subnav li{
    list-style-type: none;
}

#nav>li>a{
    color : white;

}
#nav{
    display: inline-block;
}

#nav li a{
    
    text-decoration: none; 
    line-height: 46px;
    padding: 0 24px ;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{

    color: #000;
    background-color: #ccc;
}

#nav>li{
        display: inline-block;
}

#nav li{ 
    position: relative;

}
#nav .subnav{   
    display: none;
    top: 100%;
    left:0;
    min-width: 160px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

#nav .nav-arrow-down{
    font-size: 14px;
}

#nav .subnav a{
color: #333;
padding: 0 12px;
line-height: 38px;

}

/* #nav .subnav li:hover a {
    background-color: #ccc;

} */
 .pull-right{
    float:right !important;
 }
 .btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    /* tạo block cho nút  */
    border: none;

}
.btn:hover{
    cursor: pointer;
    color:#000;
    background-color: #ccc;
}

.row{
    margin-left:-8px ;
    margin-right:-8px ;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;/*Dùng float thì thz cha k ôm đc hết thz con  */
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.33333%;
}
 .col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.text-center{
    text-align: center !important;
}
.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}
#slider{
    position:relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider1.jpg') top center / cover no-repeat;
    

}
.text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);

}

.text-description{
    font-size: 15px;
    margin-top: 25px;

}

.text-heading{
    font-weight: 500;
    font-size: 24px;


}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px; /* treen traiphai duoi */
    /* padding-bottom: 48px;
    làm cho phần ảnh với dòng ở trên nó cân  */
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;   
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    /* tăng khoảng cách giữa các chữ */
}

#content .section-sub-heading{
    text-align: center;
    font-size: 10px; 
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;/* căn chữ 2 bên  */
    line-height: 1.4;
}

#content .member-list{
    margin-top: 48px;
}

#content .member-name{
    font-size: 15px;
    
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
    /* Để góc ảnh đc bo tròn  */
}

/* TOUR SECTION */
.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 11px 16px;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quatity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
    color: white;

}

.places-list{
    margin-top: 32px;
    
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity:0.6;
}

.place-body{
    background-color: #fff;
    font-size: 15px;
    padding: 16px;

}

.place-heading{
    font-size: 15px;
    font-weight: 600;

}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-description{
    margin-top: 15px;  
    line-height: 1.4; 

}

/* Footer section */
.js-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* 3 thz nàylàm cho cái modal phủ màn hình đc căn giữa */
}

.js-modal.open{
    display: flex;
}


header.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    /* Phải có khoảng trắng xung quanh dấu trừ để làm lúc thu nhỏ
         màn hình thì cái khung k bị dính vào cạnh right và left */
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-heading-icon{
    margin-right: 16px ;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover{
    background-color: red;
    opacity: 1;
}

.modal-body{
    padding:16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 24px;
}

.modal-input{
    border: 1px solid#ccc;
    width:100%;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets{
    border: none;
    background-color: #009668;
    text-transform: uppercase;
    padding: 18px;
    width: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

#buy-tickets:hover{
    color: #ccc;
}
/* Contact from */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*='ti-'] {
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

/* Map section */
.map-section img{
    width: 100%;
}


/* Footer */
.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover, 
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);

}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}



